.back-button {
    width: fit-content;

    display: inline-flex;
    align-items: center;
    gap: 10px;

    border: none;
    outline: none;

    cursor: pointer;

    background: rgba(17, 24, 39, 0.78);

    color: #F9FAFB;

    padding: 12px 18px;

    border-radius: 14px;

    font-size: 0.95rem;
    font-weight: 700;

    backdrop-filter: blur(14px);

    border: 1px solid rgba(255, 255, 255, 0.05);

    transition: all 0.3s ease;

    box-shadow:
        0 4px 20px rgba(0, 0, 0, 0.18);
}

.back-button span {
    font-size: 1rem;

    transition: 0.3s ease;
}

.back-button:hover {
    transform:
        translateY(-2px);

    background:
        rgba(139, 92, 246, 0.15);

    border-color:
        rgba(139, 92, 246, 0.35);

    box-shadow:
        0 0 30px rgba(139, 92, 246, 0.15);
}

.back-button:hover span {
    transform: translateX(-3px);
}

